<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Web_153505_Abramovich</title>

        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Web_153505_Abramovich.styles.css" asp-append-version="true" />

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <body>
        <header>
            <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
                <div class="container">
                    <img src="~/images/logo.svg" height="47px" style="margin-right:10px;">

                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarContent"
                            aria-controls="navbarContent"
                            aria-expanded="false">

                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarContent">
                        <a class="navbar-brand" href="#">WebLabs</a>

                        <ul class="navbar-nav me-auto mb-2">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Lab @ViewBag.LabNum</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Product" asp-action="Index">Catalog</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-page="/Index">Admin</a>
                            </li>
                        </ul>

                        <div class="d-flex">
                            <a class="navbar-text" asp-controller="Cart" asp-action="Index">
                                00,0 руб <i class="fa-solid fa-cart-shopping"></i> (0)
                            </a>

                            <div class="dropdown ms-4 nav-color">
                                <button 
                                    class="btn btn-secondary dropdown-toggle"
                                    type="button" id="dropdownMenuButton"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">

                                    User@gmail.com

                                    <img src="images/avatar_default.jpg" width="30" alt="User" class="rounded nav-color" />
                                </button>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <span class="dropdown-item-text">
                                            <img src="images/avatar_default.jpg" width="50" alt="User" class="rounded nav-color" />

                                            User@gmail.com
                                        </span>
                                    </li>

                                    <li><hr class="dropdown-divider"></li>

                                    <li>
                                        <form id="logoutForm" class="form-inline">
                                            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">
                                                <a asp-controller="Identity" asp-action="LogOut">Logout</a>
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" class="container" style="margin-top: 64px; margin-bottom: 20px;">
            @RenderBody()
        </main>

        <footer>
            <div class="container">
                <div class="navbar navbar-dark navbar-expand bg-dark">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-item nav-link" href="http://www.facebook.com">
                            <i class="fa-brands fa-facebook-f fa-2x"></i>
                        </a>
                        <a class="nav-item nav-link" href="http://www.vk.com">
                            <i class="fa-brands fa-vk fa-2x"></i>
                        </a>
                        <a class="nav-item nav-link" href="http://www.twitter.com">
                            <i class="fa-brands fa-twitter fa-2x"></i>
                        </a>
                    </div>
                </div>

            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
