@{
    var passwordId = Model;
}

<label class="form-label" for=@passwordId>
    Password
</label>

<div class="input-group">
    <input 
        type="password"
        placeholder="Enter password"
        id=@passwordId
        name="password"
        class="form-control"
        required />

    @{
        var passwordShowId = $"{passwordId}_show";
        var passwordHideId = $"{passwordId}_hide";
    }

    <div class="input-group-append d-flex">
        <span 
            class="input-group-text"
            onclick="passwordShowHide(
						'@passwordId',
						'@passwordShowId',
						'@passwordHideId'
					 );">

            <i class="fas fa-eye" id=@passwordShowId></i>
            <i class="fas fa-eye-slash d-none" id=@passwordHideId></i>
        </span>
    </div>
</div>