@implements IDisposable


@if (DataService.Books is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Image</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var book in DataService.Books)
            {
                <tr>
                    <td>
                        @book.Title
                    </td>
                    <td>
                        @book.Price
                    </td>
                    <td>
                        <img src="@book.ImagePath" style="height: 80px;" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject] public IDataService DataService { get; set; }


    protected override void OnInitialized()
    {
        Console.WriteLine("list");

        DataService.DataLoaded += StateHasChanged;
    }

    public void Dispose()
    {
        DataService.DataLoaded -= StateHasChanged;
    }
}
