@page
@model BookShop.Areas.Admin.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}


<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Book.Category" class="control-label"></label>

                <select class="select form-control" asp-items="Model.CategoriesOptions" asp-for="Book.CategoryId" aria-label="Select your country"></select>
            </div>
            <div class="form-group">
                <label asp-for="Book.Price" class="control-label"></label>
                <input asp-for="Book.Price" class="form-control" />
                <span asp-validation-for="Book.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Image</label>
                <input asp-for="Image" type="file" class="form-control">

                <input asp-for="Book.ImagePath" hidden />
            </div>
            <input type="hidden" asp-for="Book.Id" />
            <div class="form-group" style="margin: 10px 0;">      
                <button type="submit" class="btn btn-success">
                    <i class="fa-solid fa-floppy-disk" style="letter-spacing:5px;">&nbsp; SAVE</i>
                </button>
            </div>
        </form>
    </div>
</div>

<a asp-page="./Index" class="btn btn-primary">
    <i class="fa-solid fa-arrow-left" style="letter-spacing:5px;">&nbsp; BACK</i>
</a>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@* <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdown"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">

        Categories
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdown">
        @foreach (var category in ViewBag.Categories)
        {
            <a class="dropdown-item" asp-controller="Book" asp-route-categoryId="@category.Id">
                @category.Name
            </a>
        }
    </div>
</div> *@